.progress{
  width:500px;
}
.barBase{
  position: relative;
  width: 100%;
  height: 10px;
  background: #d0d0d0;
}

.bar{
  display: block;
  position: relative;
  height: 100%;
  width: 0;
  background-color: red;
  overflow: hidden;
}